<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <title>Reversi Game</title>
    </head>
    <body>
        <div>
            <div id="game_container">
            </div>
            <div id="counter_div">
                <div id="player_counter" class="counter">
                    Player Count:
                </div>
                <div id="AI_counter" class="counter">
                    AI Count:
                </div>
            </div>
        </div>

        <script src="../static/script.js"></script>
    </body>
</html>