<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Select Level</h1>
    <div class="button_div">
        <a href="/play"><button onclick="set_difficulty(1)">Level 1</button></a>
        <a href="/play"><button onclick="set_difficulty(2)">Level 2</button></a><br>
        <a href="/play"><button onclick="set_difficulty(3)">Level 3</button></a>
        <a href="/play"><button onclick="set_difficulty(4)">Level 4</button></a><br>
        <a href="/play"><button onclick="set_difficulty(5)">Level 5</button></a>
        <a href="/play"><button onclick="set_difficulty(6)">Level 6</button></a><br>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>